/* Setup */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #383838;
}

ul {
  list-style-position: inside;
}

/* Header */
#joke-header-container {
  position: absolute;
  z-index: 1;
  color: white; 
}

/* Landing */

#landing {
  background-image: url('../imgs/gold.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}

#landing-text h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

/* Navbar */

#nav {
  background-color: black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-inner {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

#nav-inner a {
  text-decoration: none;
  color: #ffcc00;
  border: 0.1rem solid #ffcc00;
  border-radius: 0.3rem;
  font-size: 3rem;
  margin: 0.4rem;
  padding: 0 0.3rem;
}

/* About */
#about {
  margin: 1rem;
  font-size: 2.5rem;
  width: 80%;
  margin: 1rem auto;
}

#about h3 {
  color: #ffcc00;
  text-align: center;
}

#about p {
  color: black;
  font-size: 2rem;
}

#about-mission {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

#about-employees {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

#about-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem;
}

#about-contact-button {
  text-align: center;
  text-decoration: none;
  color: #ffcc00;
  border: 0.1rem solid #ffcc00;
  border-radius: 0.3rem;
  font-size: 3rem; 
}

/* Services */
#services-header {
  background-image: url('../imgs/gold.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 3rem;
}

#service-boxes {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.service-box {
  background-color: #f4f4f4;
  margin: 1rem;
  font-size: 2.5rem;
  width: 80%;
  padding: 0.5rem;
  line-height: 1.6;
  border: 1.5rem solid black;
  margin-bottom: 3rem;
}

.service-box h2 {
  text-align: center;
  color: #ffcc00;
  background-color: black;
  border-radius: 2rem;
  line-height: 1.2;
}

.service-box li {
  line-height: 1;
  margin: 0.5rem;
}

.service-box-image {
  width: 60vw;
  height: 40vw;
  overflow: hidden;
  margin: 0.2em auto;
  border: 0.2rem solid #ffcc00;
}

.service-box img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Shop */
#shop-header {
  background-image: url('../imgs/gold.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 3rem;
}

#shop-about-container {
  margin: 1rem;
  font-size: 2.5rem;
  width: 80%;
  margin: 1rem auto;

  
}

#shop-about {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

#shop-about-container h3 {
  color: #ffcc00;
  text-align: center;
}

#shop-about-container p {
  color: black;
  font-size: 2rem;
}

/* Contact */
#contact-header {
  background-image: url('../imgs/gold.jpg');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 3rem;
}

#contact-container {
  margin: 1rem;
  font-size: 2.5rem;
  width: 80%;
  margin: 1rem auto;

  
}

#contact {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
}

#contact-container h3 {
  color: #ffcc00;
  text-align: center;
}

#contact-container p {
  color: black;
  font-size: 2rem;
}

/* Footer */
#joke-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#joke-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #808080;
}

#joke-footer a {
  text-decoration: none;
  color: #808080;
  border: 0.1rem solid #808080;
  padding: 0.2rem;
  font-size: 2rem;
  margin: 0.2rem;
}

/* Events */
.gray-hover:hover {
  background-color: #383838;
}

.white-hover:hover {
  background-color: white;
}

/* Media Queries */
@media only screen and (min-width: 540px) and (max-width: 950px){
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1300px){
  html {
    font-size: 14px;
  }

  .service-box-image {
    width: 40vw;
    height: 30vw;
  }
}

@media only screen and (min-width: 1300px){
  html {
    font-size: 16px;
  }

  .service-box-image {
    width: 30vw;
    height: 20vw;
  }
}